# Base de datos
# Todas las credenciales las puedes obtener de tu proyecto de supabase
# Conexion a Supabase mediante un grupo de conexiones
DATABASE_URL="postgresql://postgres.<PASSWORD>@<HOST>:6543/postgres"
# Conexion directa a la base de datos, se utiliza para migraciones.
DIRECT_URL="postgresql://postgres.postgres.<PASSWORD>@<HOST>:5432/postgres"

# Supabase
# Url del proyecto de supabase
NEXT_PUBLIC_SUPABASE_URL="https://tu-proyecto.supabase.co"
# Llave publica de supabase
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="tu-anon-key"
# Llave publica
NEXT_PUBLIC_SUPABASE_ANON_KEY="tu-anon-key"
# enviroment
NODE_ENV=development